# elisp compiled files
*.elc
# emacs temp files from
*~

# place for straight.el package manager
/straight/


/bookmarks
/recentf
/transient/history.el
/tramp
/url/cache/mpm/https/io/ghost/no-kill-switch/e8d26c8fa50a7c4f22401376f34c2e81
/prescient-items
/projectile.cache
/elpa/
